<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>{{repoName}} - Zen Linux</title>
  <base href='{{baseHref}}' />
  <link rel='stylesheet' href='/styles.css' />
</head>

<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Date</th>
    </tr>
    {{#each files}}
    <tr>
      <td><a href='{{this.name}}'>{{this.name}}</a></td>
      <td>{{this.size}}</td>
      <td>{{this.mtime}}</td>
    </tr>
    {{/each}}
  </table>
</body>

</html>
