table {
  font-family: monospace;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td:last-child,
th:last-child {
  text-align: right;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
